﻿
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm("Insert", "Product", FormMethod.Post, new { @Id = "Form1" }))
{
    @Html.Label("Product Name")
    @Html.Editor("ProductName", new { htmlAttributes = new { @class = "form-control" } })
    <br />
    @Html.Label("Description")
    @Html.Editor("Description", "", new { htmlAttributes = new { @class = "form-control" } })
    <br />
    <input type="submit" name="Insert" />

    @Html.ActionLink("Back to list", "Index", "Product")
}