﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Product List</h2>

@{ List<Product_Management.Models.Product> details = (List<Product_Management.Models.Product>) Session["ProductList"];  }

@Html.ActionLink("Add New","Create","Product")

<table class="table">
    <thead>
        <tr>
            <th scope="col">Product Name</th>
            <th scope="col">Description</th>
        </tr>
    </thead>
    <tbody>
        @if ((details != null) && (details.Count() > 0))
        {
            foreach (var item in details)
            {
                <tr>
                    <td>@item.ProductName</td>
                    <td>@item.Description</td>
                </tr>
            }
        }
        else
        {
            <tr><td colspan="2">No Records found</td> </tr>
        }

    </tbody>
</table>
